*{margin: 0; padding: 0; line-height: 120%;}
ul{list-style: none;}
a{text-decoration: none; color: #666;}

/* .swiper-pagination-bullet-inactive{
    --swiper-theme-color: white;
} */

.swiper-pagination-bullet-active {
    --swiper-theme-color: #ffc300;
    --swiper-pagination-bullet-width: 30px;
    --swiper-pagination-bullet-height: 12px;
    --swiper-pagination-bullet-border-radius: 10px;
}